{% extends "base.html" %}

{% block content %}
{% if username.len() == 0 %}
<h1>Hello, world!</h1>
{% else %}
<h1>Hello, {{ username }}!</h1>
{% endif %}

<h2>Features</h2>

<ul>
    <li>login, logout, signup</li>
    <li>change username and password</li>
    <li>username/password validation</li>
    <li>password hashing with argon2</li>
    <li>session management</li>
</ul>

<h2>Tech stack</h2>

<ul>
    <li>Rust</li>
    <li>Axum</li>
    <li>Sqlx</li>
    <li>Askama</li>
    <li>HTMX</li>
    <li>PicoCSS</li>
</ul>
{% endblock %}